@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: roboto, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: white;
  overflow-x: hidden;
}

/* Header */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgb(245, 244, 244);
}

.menu figure {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu figure img:hover {
  cursor: pointer;
}

.search {
  display: flex;
}

.search input {
  padding: 0 1rem;
  border: 1px solid;
  border-radius: 15px 0px 0px 15px;
}

.search button {
  padding: 0 0.5rem;
  border: 1px solid;
  background: transparent;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
}

.icons figure {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons img:hover {
  cursor: pointer;
}

.video-wrapper {
  position: relative;
  width: 100%;
  min-width: 800px; /* define a largura máxima do vídeo */
  margin: 0 auto; /* centraliza horizontalmente */
  padding-bottom: 56.25%; /* mantém proporção 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.main-video {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  font-size: 0.9rem;
  padding: 1rem;
  flex: 1;
  margin-left: 300px;
}

.main-video h1 {
  font-size: 1.25rem;
}

.side-menu {
    margin-right: 9%;
}

.video-info-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.video-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.video-profile img {
  width: 2.3rem;
  height: 2rem;
  cursor: pointer;
}

.detail-profile a {
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
}

.detail-profile a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.detail-profile p {
  font-size: 0.9rem;
  color: gray;
}

.subscribe-button {
  background: red;
  color: rgb(254, 252, 252);
  padding: 0.5rem 1.5rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.subscribe-button:hover {
  filter: brightness(85%);
}

.video-buttons-interaction {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.video-buttons-interaction button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 500;
  background: transparent;
  border: none;
  cursor: pointer;
  color: grey;
}

.video-buttons-interaction button:nth-child(2) img {
  transform: rotate(180deg);
}

.main-video-views {
  display: flex;
  gap: 2rem;
  font-weight: 500;
}

.description-video {  
  background-color: #ede9e9;
  padding: 2rem 2rem;
  border-radius: 8px;
}

.main-video-views,
.description-video {
  width: 100%;
  box-sizing: border-box;
}


/* Vídeos sugeridos */
aside {
  padding: 1rem;
}

.container-video {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.wrapper {
  width: 45%;
}

.wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.container-text {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.75rem;
}

.container-text h2 {
  font-size: 0.9rem;
  cursor: pointer;
}

.container-text h2:hover {
  text-decoration: underline;
}

.container-text a {
  text-decoration: none;
  color: grey;
}

.container-text a:hover {
  text-decoration: underline;
}

.details {
  display: flex;
  justify-content: space-between;
  /*color: var(--secondary-text);*/
  color: gray;
}

/* Rodapé */
footer {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #000;
}

footer a {
  color: grey;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: midnightblue;
  text-decoration: underline;
}

/* Responsividade */
@media screen and (min-width: 768px) {
  main {
    display: flex;
    gap: 2rem;
    padding: 2rem;
  }

  .main-video {
    flex: 5;
    padding: 0;
  }

  aside {
    flex: 2;
    padding: 0;
  }

  .main-video-views {
    flex-direction: row;
  }

  .video-info-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .video-profile {
    flex: 1;
  }

  .video__buttons-interaction {
    flex: 1;
    justify-content: flex-end;
  }

  .description-video {
  width: 100%;
}

}

@media screen and (min-width: 1200px) {
  .menu {
    padding: 1rem 2rem;
  }

  .search input {
    width: 15rem;
  }

  .container-video {
    flex-direction: row;
  }

  .wrapper {
    width: 40%;
  }

  .container-text {
    width: 60%;
  }

  .details {
    flex-direction: column;
  }
}
